In [1]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Load dataset
data = sm.datasets.get_rdataset('dietox', 'geepack').data

data.head()

    Pig     Evit     Cu  Litter  Start    Weight       Feed  Time
0  4601  Evit000  Cu000       1   26.5  26.50000        NaN     1
1  4601  Evit000  Cu000       1   26.5  27.59999   5.200005     2
2  4601  Evit000  Cu000       1   26.5  36.50000  17.600000     3
3  4601  Evit000  Cu000       1   26.5  40.29999  28.500000     4
4  4601  Evit000  Cu000       1   26.5  49.09998  45.200001     5

In [2]:
'''
Right now we save a mock dataset as a .csv file for the analysis jupyter notebook. Normally, within this notebook
we would connect to the smartshark instance, run our queries that generate the data, wrangle this data into a 
pandas dataframe, and then save it as a csv. 

However, this step is left as a excercise.
'''

data.to_csv("pred_data.csv", index=False)